<!--<div class="container">

    <div>
        <h1 class="h1">我是个人主页</h1>
    </div>


        <ui-view name="per"></ui-view>


    <div>
        <a href="" ui-sref="perspage.infopage">跳</a>
    </div>
</div>-->


<div style="background: #effaff; height: 244px; border-bottom:1px solid #ccc;">

</div>
<div style="background: #f5f4f3;">
    <div class="container">
        <div style="background:#fff;text-align: center; height: 144px; width: 200px; float: left;">
            <li><a href="">个人主页</a></li>
            <li><a href="" ui-sref="perspage.infopage">个人信息</a></li>
            <li><a href="">安全设置</a></li>
            <li><a href="">关注的圈子</a></li>
            <li><a href="">购买日期</a></li>
        </div>
        <!--<div ui-view>

        </div>-->
           <ui-view name="per"></ui-view>
    </div>
</div>
